/* ==========================================================================
	Index Stylings
========================================================================== */ 

body {
	margin: 0px;
	padding: 0px;
	font-family: Avenir Next;
	background-color: #edf4f7;
	color: #333333;
}

h1 {
	margin-top: 20px;
	font-size: 25px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: underline;
	color: #333333;
}

h3 {
	font-size: 30px;
	margin: 0px;
	padding: 5px;
}

.header {
	background-color: #004466;
	color: #FFFFFF;
	font-size: 40px;
	/*font-weight: 600;*/
	padding: 10px 15px;
}

.header a {
	color: #FFFFFF;
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.right {
	float: right;
}

.subpage {
	width: 80%;
}

#notifications {
	z-index: 3;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 20%;
	margin-left: 20px;
	background-color: #edf4f7;
	border-left: solid;
	border-width: 5px;
	border-color: #004466;
}

.notification {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px;
}

.notification p {
	background-color: #FFFFFF;
	/*margin: 15px;*/
	padding: 5px;
	margin: 1px;
}

.notification i {
	padding: 1px;
	/*top: 0;*/
	/*left: 0;*/
}

.content {
	width: 100%;
}

#actions-bar {
	/*position: absolute;*/
	width: 100%;
}

#search-bar {
	margin: 10px;
	padding-left: 10px;
	background-color: #FFFFFF;
	font-size: 25px;
	color: #333333;
	height: 40px;
	width: 50%;
	border: none;
}

#create-new {
	padding-left: 10px;
	background-color: #004466;
	color: #FFFFFF;
	border: none;
	width: 20%;
	height: 40px;
	font-size: 25px;
	text-align: left;
	font-style: normal;
	margin: 8px;
}

#create-new:hover {
	background-color: #00334d;
	cursor: pointer;
}

#empty-page {
	/*margin-left: 20;*/
	padding-top: 10%;
	padding-right: 20%;
	text-align: center;
	color: #629db7;
}

.team {
	z-index: 3;
	background-color: #FFFFFF;
	margin: 10px;
	margin-right: 27%;
	border: solid;
	border-width: 2px;
	border-color: #FFFFFF;
}

.team:hover {
	border: solid;
	border-width: 2px;
	border-color: #004466;
	cursor: pointer;
}

.team p {
	padding: 3px;
	margin: 0px;
}

.hide {
	display: none;
}

/* ==========================================================================
	Team Stylings
========================================================================== */ 

#menu {
	/*padding: 10px;*/
	background-color: #b9d4df;
	width: 100%;
	/*top: 0;*/
	/*margin: 2px;*/
}

#menu h2 {
	padding: 10px;
	margin: 0px;
}

#menu p {
	margin: 0px;
	padding: 0px 10px;
	font-size: 20px;
	width: 100px;
	display: inline-block;
	border-bottom: 6px solid #b9d4df;
}

#menu p:hover, .active {
	cursor: pointer;
	border-bottom: 6px solid #004466 !important;
}