.calendar-row {
    line-height: 120px;
}

/*#calendar_display .selectable {
    height: 100px;
}*/

.last-month-date-number {
    color: #C0C0C0;
    /*height: 20px;*/
    text-align: left;
    vertical-align: top;
    position: relative;
}

.date-number {
    vertical-align: top;
    /*position: absolute;*/
}

.date-canvas {
    /*position: absolute;*/
}

#rides-needed {
    width: 200px;
    float: left;
    text-align: center;
}

#open-seats {
    margin-left: 200px;
    width: 200px;
    text-align: center;
}

#ride-requests {
    width: 200px;
    float: left;
    text-align: center;
}

#seat-offers {
    margin-left: 200px;
    width: 200px;
    text-align: center;
}

.ui.special.popup {
    max-width: 600px !important;
}

.ui.input {
    width: 50px;
}

#team-page {
    line-height: normal;
    font-family: Avenir Next;
}

#team-page h2 {
    line-height: normal;
    font-family: Avenir Next;
}

#notifications {
    line-height: normal;
    font-family: Avenir Next;
    padding-top: 20px;
    font-size: 25px;
    color: #333333;
}

#notifications h1 {
    line-height: normal;
    font-family: Avenir Next;
    font-size: 25px;
    color: #333333;
}