#calendar-page {
    padding: 15px;
    /*width: 100%;*/
}

#calendar-page tbody {
    vertical-align: top;
}

.calendar-row {
    height: 120px;
}

#month {
    float: left;
}

.practice {
    /*background-color: #ff9270;*/
    background-color: #ffb199;
}

#key {
    float: right;
    width: 30px;
    text-align: right;
}

#key-popup {
    width: 250px;
}

#key1 {
    float: right;
}

#key2 {
    float: right;
}

#key-icon1{
    float: left;
}

#key-icon2{
    float: left;
}

.last-month-date-number {
    color: #C0C0C0;
    text-align: left;
    vertical-align: top;
    position: relative;
}

.date-number {
    vertical-align: top;
    text-align: left;
    position: relative;
}

#rides-needed {
    width: 200px;
    float: left;
    text-align: center;
}

#open-seats {
    margin-left: 200px;
    width: 200px;
    text-align: center;
}

#ride-requests {
    width: 200px;
    float: left;
    text-align: center;
}

#seat-offers {
    margin-left: 200px;
    width: 200px;
    text-align: center;
}

.ui.special.popup {
    max-width: 600px !important;
}

.ui.input {
    width: 50px;
}

#notif-text {
    padding-left: 30px;
    padding-right: 20px;
    font-size: 17px;
}

#team-page {
    line-height: normal;
    font-family: Avenir Next;
}

#team-page h2 {
    line-height: normal;
    font-family: Avenir Next;
}

#notifications {
    line-height: normal;
    font-family: Avenir Next;
    padding-top: 20px;
    font-size: 25px;
    color: #333333;
}

#notifications h1 {
    line-height: normal;
    font-family: Avenir Next;
    font-size: 25px;
    color: #333333;
}

#side-nav {
    height: 113vh;
}