#team-page {
    line-height: normal;
    font-family: Avenir Next;
}

#team-page h2 {
    line-height: normal;
    font-family: Avenir Next;
}

#notifications {
    line-height: normal;
    font-family: Avenir Next;
    padding-top: 20px;
    font-size: 25px;
    color: #333333;
}

#notifications h1 {
    line-height: normal;
    font-family: Avenir Next;
    font-size: 25px;
    color: #333333;
}

#members-page {
    color: #333333;
    background-color: #edf4f7;
    padding: 10px;
}

#members-page .actions-bar {
    margin-left: 4px;
}

#members-list {
    margin: 0px;
}

#members-list .card .header {
    background-color: #FFFFFF;
    /*font-weight: 600;*/
    padding: 10px 15px;
}

#members-list .card .content {
    position: relative;
}

.ui.modal.members-modal {

}

.ui.modal.members-modal img {
    width: 200px;
}

.ui.modal.members-modal .header {
    background-color: #FFFFFF;
}
