#members-list {
    margin: 10px;
}

#members-list .card .header {
    background-color: #FFFFFF;
    /*font-weight: 600;*/
    padding: 10px 15px;
}

#members-list .card .content {
    position: relative;
}