body {
    overflow: visible !important;
}

#team-page {
    line-height: normal;
    font-family: Avenir Next;
    color: #333333;
}

#team-page h2 {
    line-height: normal;
    font-family: Avenir Next;
}

#team-page .actions-bar {
    margin-left: 4px;
}

#members-list {
    margin: 0px;
}

#members-list .card .header {
    background-color: #FFFFFF;
    /*font-weight: 600;*/
    padding: 10px 15px;
}

#members-list .card .content {
    position: relative;
}

.ui.modal.members-modal {

}

.ui.modal.members-modal img {
    width: 200px;
}

.ui.modal.members-modal .header {
    background-color: #FFFFFF;
}

.ui.modal.members-modal .image.content {
    width: initial;
}